
body{
    font-family: 'Josefin Sans', sans-serif;
}

a .navbar-brand{
    font-weight: 700;
    font-size: 25px;
}

h1, h2{
    font-weight: 700;
}

.jumbotron{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
    border-radius: 0px;
}

.about, .my-expertise, .portfolio, .contact{
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-expertise h3{
    margin: 25px;
}

.img-thumbnail{
    filter: grayscale(100%);
}

.img-thumbnail:hover{
    filter: none;
}

i{
    margin: .25%;
}

.contact{
    border: 2px solid grey;
    padding: 10px;
}
.process-pic{
    margin: 10px ;
}
.final-product{
    margin: 20px;
}