@import url("https://fonts.googleapis.com/css?family=Days+One|Open+Sans:400,800");

//colors
$gray: grey;
$color_1: #fff; //white
$color_3: cornsilk;
$color_4: cyan;
$color_5: #3a3a3a; //dark grey
$color_6: #000; //black
$color_7: #FE8B05; //tan/orange
$font_family_1: 'VT323',
monospace;
$font_family_2: 'Ranchers',
cursive;
$background_color_2: rgba(255, 0, 0, 0.6); //transparent red
$background_color_3: rgba(107, 142, 35, 0.4); //transparent green
$background_color_4: dimgray; //light grey
$background_color_5: rgba(125, 125, 125, 0.7); //transparent grey
$background_color_6: rgba(255, 255, 255, 0);
$background_color_7: rgba(153, 102, 102, 0.3);
$background_color_8: rgba(255, 128, 0, 0.5);
$background_color_9: #668284; //dark jade green
$background_color_10: rgba(255, 255, 255, .5); //transparent
$background_color_11: #4bc6fe; //light blue
$background_color_13: #A9DA88; //light pastel green
$background_color_15: #94BA65; //pastel green
$background_color_16: #608039; //jade green
$background_color_17: #71c03c; //light green

//fonts
$font_0: Josefin Sans;
$font_1: sans-serif;
$font-stack: Days one, sans-serif;
$font-stack-2: Open sans, sans-serif;

body {
    font-family: $font_0, $font_1;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

.jumbotron {
    font-weight: 400;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;

    h1 {
        font-size: 50px;
        margin-left: 15%;
    }

    p {
        font-size: 30px;
        font-weight: 400;
        margin-left: 15%;
        margin-top: 2%;
    }
}

.about {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-expertise {
    margin-top: 40px;
    margin-bottom: 40px;

    h3 {
        margin: 25px;
    }
}

.portfolio {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid $gray;
    padding: 10px;
}

.bio-pic {
    width: 70%;
}

.img-thumbnail {
    filter: grayscale(100%);
    margin: 20px auto 20px auto;

    &:hover {
        filter: none;
    }
}

i {
    margin: .25%;
}

.process{
   margin-top: 70px;
    
    .top{
        margin-top: 30px;
    }
    
    .process-pic {
        margin: 30px;
    }
}


.final-product {
    margin: 20px;
}

p {
    font-weight: 300;
}

iframe {
    width: 400px;
    height: 300px;
}

.resume-head {
    ul {
        margin-left: 10px;
        padding: 5px;
    }

    li {
        text-decoration: none;
        display: inline;
        margin-right: 10px;
    }
}

a .navbar-brand {
    font-weight: 700;
    font-size: 25px;
}

.colorbooklet img {
    margin: 1em;
    width: 75%;
}

#Experience {
    border-left: 1px solid black;
}

footer {
    margin-top: 20px;
}

.resume-button {
    font-size: 1.5rem;
    text-decoration: underline;
}

.blog-box {
    margin-top: 100px;

    .blog-img {
        width: 35%;
        margin: 10px;
    }

    .week2 .blog-img {
        width: 30%;
    }

    .week3 .blog-img {
        width: 15%;
    }

    video {
        width: 40%;
    }
}

#game{
    margin: 0 auto;
    text-align: center;
}

/////////coin toss page//////////////
.cointoss {
    background-color: $background_color_11;
    h1 {
        text-align: center;
        color: $color_1;
        font-size: 40px;
        margin: 10px;
        font-family: $font_family_1;
    }
    h2 {
        font-size: 32px;
        margin: 10px;
        font-family: $font_family_2;
    }
    h3 {
        text-align: center;
        color: $color_1;
        padding: .5em;
        font-size: 32px;
        margin: 10px;
        font-family: $font_family_2;
    }
    .start-button {
        display: block;
        margin: 0 auto;
        span {
            color: $color_6;
            text-align: center;
            display: block;
            margin: 1em auto;
            padding: 1rem;
            width: 30%;
            background-color: $color_1;
            border-radius: 3em;
            border: 2px solid #FE8B05;
            cursor: pointer;
        }
    }
    .back-button {
        span {
            display: block;
            margin: 1em auto;
            clear: both;
            text-align: center;
            padding: 1rem;
            width: 30%;
            background-color: $color_1;
            border-radius: 3em;
            border: 2px solid #2B4E72;
            cursor: pointer;
        }
    }
    .try-again {
        display: block;
        margin: 0 auto;
    }
    .buttons {
        display: inline-block;
        width: 100%;
        #head-button {
            float: left;
            margin: 1rem;
            width: 30%;
        }
        #tail-button {
            float: right;
            margin: 1rem;
            width: 30%;
        }
    }
    .flip-menu {
        display: none;
        text-align: center;
        background-color: $background_color_13;
        margin: 0 auto;
        padding: 1em;
        #flip-button {
            text-align: center;
            display: block;
            margin: 0 auto;
            padding: 1em;
            width: 30%;
            background-color: $color_1;
            border-radius: 3em;
            border: 2px solid #FE8B05;
            cursor: pointer;
        }
        .head-count {
            h1 {
                color: $color_7;
            }
        }
        .tail-count {
            h1 {
                color: $color_7;
            }
        }
        .results {
            display: block;
            margin: 1em auto;
            background-color: $color_6;
        }
    }
    #accordion {
        padding: 10px;
        h2 {
            text-align: center;
            background-color: $background_color_15;
            padding: 1rem;
            width: 75%;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
            margin: 0 auto;
            &:hover {
                color: $color_1;
                background-color: $background_color_16;
                cursor: pointer;
            }
            &:active {
                background-color: $background_color_17;
            }
        }
        div {
            display: none;
            background-color: $color_1;
            margin: 1rem;
            padding: 1rem;
            border-radius: 2rem;
            width: 75%;
            margin: 1rem auto;
            ul {
                color: $color_6;
                margin: 1rem;
                padding: 0;
                width: 100%;
                margin: 0 auto;
                li {
                    display: block;
                    list-style: none;
                    padding: 10px;
                    margin: 6.6666666667px;
                }
            }
        }
    }
    .welcome-screen {
        display: block;
        #coin {
            img {
                display: block;
                margin: auto;
                width: 35%;
                height: 35%;
            }
        }
        h1 {
            font-size: 3em;
        }
    }
    .game-screen {
        display: none;
        #head-coin {
            display: inline-block;
            float: left;
            padding: 1em;
            width: 40%;
            height: 50%;
            img {
                display: block;
                margin: 0 auto;
                width: 35%;
                height: 35%;
            }
        }
        #tail-coin {
            display: inline-block;
            float: right;
            padding: 1em;
            width: 40%;
            height: 50%;
            img {
                display: block;
                margin: 0 auto;
                width: 35%;
                height: 35%;
            }
        }
        .coin-animation {
            background-color: $color_6;
            border-radius: 3em;
            margin: 1rem;
            img {
                display: block;
                margin: .5rem auto;
                padding: .5rem;
                width: 40%;
                height: 40%;
            }
        }
    }
    .end-screen {
        display: none;
    }
}

////////weather app ///////////
* {
  box-sizing: border-box;
}
.weatherapp {
  font-family: $font-stack;
  color: #fff;
  background-color: #b28cd9;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  figure {
    margin: 1em auto;
    canvas {
      width: 70%;
    }
  }
  main {
    font-family: $font-stack-2;
    width: 60%;
    background-color: rgba(254, 194, 5, 0.3);
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3),
      0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
    .paper {
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 10px;
      padding: 1em;
      box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3),
        0 55px 50px -35px rgba(0, 0, 0, 0.3),
        0 85px 60px -25px rgba(0, 0, 0, 0.1);
      @media only screen and (min-width: 768px) {
      /* Styles */
      position: relative;
    }
    }
    #current-location,
    #current-country {
      font-weight: 800;
      text-shadow: 2px 2px 4px #000000;
      /* Smartphones (portrait and landscape) ----------- */
      @media only screen and (max-width: 440px) {
        /* Styles */
        font-size: 11pt;
      }
    }
    #weather-description {
      font-family: $font-stack;
      font-size: 15pt;
      letter-spacing: 0.21em;
      color: orange;
      text-shadow: 2px 2px 4px #000000;
    }
    #local-temperature {
      font-weight: 800;
      font-size: 20pt;
      text-shadow: 2px 2px 4px #000000;
      @media only screen and (min-width: 768px) {
        /* Styles */
        position: absolute;
        top: 1em;
        left: .5em;
        font-size: 40pt;
      }
    }
    #high-temp{
      color: #000;
       @media only screen and (min-width: 768px) {
        /* Styles */
        position: absolute;
        bottom: 1em;
        right: 1em;
        font-size: 20pt;
      }
    }
    #low-temp {
      color: #000;
       @media only screen and (min-width: 768px) {
        /* Styles */
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 20pt;
      }
    }
  }
  button {
    margin: 1em auto;
  }
  footer {
    margin-top: 100%;
    a {
      color: #fff;
    }
  }
}
